boot/out
boot/keys
boot/*.dtb
boot/zImage*
boot/modules
build/*
*.img
*.cpio
*.cpio.gz
*.tmp
.*.sw*
root/
integration/serial/
ssh_keys.pub
u-bmc
linux.config.old
module/.*.cmd
module/.tmp_versions
module/*.ko
module/*.mod.c
module/*.o
module/modules.*
module/Module.symvers

