boot/out
boot/keys
boot/loader.cpio.gz
boot/loader/loader
boot/signer/signer
boot/*.dtb.*
boot/zImage*
boot/modules
boot/boot.bin
boot/boot-config.auto.h
boot/kexec
*.img
.*.sw*
root/
integration/bzImage
integration/serial/
initramfs.cpio
initramfs.cpio.tmp
ssh_keys.pub
u-bmc
linux.config.old
module/.*.cmd
module/.tmp_versions
module/*.ko
module/*.mod.c
module/*.o
module/modules.*
module/Module.symvers
vendor/**/.bb
*.tar.gz
linux-*
