version: 2
workflows:
  version: 2
  build_and_test:
    jobs:
      - clean-code
      - test:
          requires:
            - clean-code
      - race:
          requires:
            - clean-code
      - compile:
          requires:
            - clean-code
      - image-quanta:
          requires:
            - clean-code
      - image-s1706:
          requires:
            - clean-code
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - compile
      - image-quanta
      - image-s1706
jobs:
  clean-code:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/u-root/u-bmc
    steps:
      - checkout
      - run:
          name: Install dep
          command: |
            wget https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64
            mv dep-linux-amd64 dep
            chmod +x dep
      - run:
          name: Install ineffassign
          command: go get github.com/gordonklaus/ineffassign
      - run:
          name: Check vendored dependencies
          command: |
            ./dep version
            ./dep status
            ./dep ensure -vendor-only
            git status
            if [[ -n "$(git status --porcelain vendor)" ]]; then
              echo 'vendor/ is out-of-date: run `dep ensure -vendor-only` and then check in the changes'
              echo 'If `dep ensure` results in no changes, make sure you are using the latest relase of dep'
              git status --porcelain vendor
              exit 1
            fi
      - run:
          name: vet
          command: go tool vet cmd pkg
      - run:
          name: gofmt
          command: test -z $(gofmt -s -l $(go list ./... | grep -v /vendor/))
      - run:
          name: ineffassign
          command: ineffassign .
  test:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/u-root/u-bmc
    environment:
      - CGO_ENABLED: 0
    steps:
      - checkout
      - run:
          name: Create test key
          command: |
            ssh-keygen -t rsa -b 4096 -C "testkey" -N "testpass" -f ./ssh_keys
            go generate ./config/
      - run:
          name: Test all
          command: make test
      - run:
          name: Test coverage
          command: make test TESTFLAGS=-cover
  race:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/u-root/u-bmc
    environment:
      - CGO_ENABLED: 1
    steps:
      - checkout
      - run:
          name: Create test key
          command: |
            ssh-keygen -t rsa -b 4096 -C "testkey" -N "testpass" -f ./ssh_keys
            go generate ./config/
      - run:
          name: Race detector
          command: make test TESTFLAGS=-race
  compile:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/u-root/u-bmc
    environment:
      - CGO_ENABLED: 0
    steps:
      - checkout
      - run:
          name: Create test key
          command: |
            ssh-keygen -t rsa -b 4096 -C "testkey" -N "testpass" -f ./ssh_keys
            go generate ./config/
      - run:
          name: build all commands
          command: |
            cd cmd
            go install -a ./...
            cd ../
            go install -a ./platform/quanta-f06-leopard-ddr3/cmd/uinit
  image-quanta: &image
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/u-root/u-bmc
    environment:
      - CGO_ENABLED: 0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command:
            sudo apt-get install gcc-arm-none-eabi mtd-utils fakeroot flex bison device-tree-compiler bc libssl-dev zlib1g-dev libglib2.0-dev libpixman-1-dev unzip cpio patch
      - run:
          name: Compile qemu
          command: |
            git clone https://github.com/openbmc/qemu.git --depth 1
            mkdir qemu/build
            cd qemu/build
            ../configure --target-list=arm-softmmu
            make -j8
            sudo make install
      - run:
          name: Create test key
          command: |
            ssh-keygen -t rsa -b 4096 -C "testkey" -N "testpass" -f ./ssh_keys
      # TODO(bluecmd): This step should probably be cached somehow
      - run:
          name: Update submodules
          command: |
            git submodule init
            # Since linux is huge and we're tracking a branch, submodules
            # take a long time and we cannot use depth. Fetch the latest zip
            # instead
            wget https://github.com/openbmc/linux/archive/dev-4.19.zip
            unzip dev-4.19.zip
            rm dev-4.19.zip
            rm -rf linux/
            mv linux-dev-4.19/ linux/
            (cd linux/; ../linux-patches/apply.sh)
            # TODO(bluecmd): https://github.com/u-root/u-root/issues/1024
            go get github.com/u-root/u-root
      - run:
          name: Build image
          command: |
            go generate ./config/
            make
      - store_artifacts:
          path: flash.img
          destination: flash.img
      - run:
          name: Run integration tests
          command: |
            export UROOT_QEMU=qemu-system-arm
            cd integration/
            go test
      - store_artifacts:
          path: integration/serial
      - run:
          name: Copy failed integration tests
          command: |
            mkdir /tmp/integration-data/
            tar -cvf /tmp/integration-data/integration.tar /tmp/ubmc-integration*/
          when: on_fail
      - store_artifacts:
          path: /tmp/integration-data/
  image-s1706:
    <<: *image
    environment:
      - CGO_ENABLED: 0
      - PLATFORM: tyan-s1706
