// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g5.dtsi"
#include "config.h"

/ {
	model = "Aspeed AST2500 EVB";
	compatible = "aspeed,ast2500";

	aliases {
		con = &uart5;
	};
	chosen {
		stdout-path = "con:57600n8";
#ifdef BOOTLOADER
		linux,initrd-start = <CONFIG_INITRD_START>;
		linux,initrd-end = <CONFIG_INITRD_END>;
#endif
	};

	memory@80000000 {
		reg = <0x80000000 CONFIG_RAM_SIZE>;
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
#include "ubmc-flash-layout.dtsi"
	};
};

&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};

// /dev/ttyS4: BMC console UART
&uart5 {
	status = "okay";
};

#ifndef BOOTLOADER
// /dev/ttyS2: Host's ttyS1
&uart3 {
	status = "okay";
};

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};

&i2c3 {
	status = "okay";
	eeprom@50 {
		compatible = "atmel,24c08";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&i2c7 {
	status = "okay";
	lm75@4d {
		compatible = "national,lm75";
		reg = <0x4d>;
	};
};

&rtc {
	status = "okay";
};
#endif /* !BOOTLOADER */
