// TODO(bluecmd): This is based from rendered DTB from Palmetto
// A lot of things are probably wrong for Leopard

// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g4.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "F06C QCT Leopard BMC";
	compatible = "ocp,leopard-bmc", "aspeed,ast2400";

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,57600n8 earlyprintk";
	};

	memory@40000000 {
		reg = <0x40000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		flash_memory: region@98000000 {
			no-map;
			reg = <0x98000000 0x01000000>; /* 16MB */
		};
	};

	//leds {
	//	compatible = "gpio-leds";

	//	heartbeat {
	//		gpios = <&gpio ASPEED_GPIO(R, 4) GPIO_ACTIVE_LOW>;
	//	};

	//	power {
	//		gpios = <&gpio ASPEED_GPIO(R, 5) GPIO_ACTIVE_LOW>;
	//	};

	//	identify {
	//		gpios = <&gpio ASPEED_GPIO(A, 2) GPIO_ACTIVE_LOW>;
	//	};
	//};

	//gpio-keys {
	//	compatible = "gpio-keys";

	//	checkstop {
	//		label = "checkstop";
	//		gpios = <&gpio ASPEED_GPIO(P, 5) GPIO_ACTIVE_LOW>;
	//		linux,code = <ASPEED_GPIO(P, 5)>;
	//	};
	//};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
#include "ubmc-flash-layout.dtsi"
	};
};

&spi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1debug_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		label = "pnor";
	};
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flbusy_default &pinctrl_flwp_default

			&pinctrl_vgahs_default &pinctrl_vgavs_default
			&pinctrl_ddcclk_default &pinctrl_ddcdat_default>;
};

&uart1 {
	/* Rear RS-232 connector */
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd1_default
			&pinctrl_rxd1_default
			&pinctrl_nrts1_default
			&pinctrl_ndtr1_default
			&pinctrl_ndsr1_default
			&pinctrl_ncts1_default
			&pinctrl_ndcd1_default
			&pinctrl_nri1_default>;
};

&uart5 {
	status = "okay";
};

&mac0 {
	status = "okay";

	use-ncsi;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii1_default>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&vuart {
	status = "okay";
};

&lpc_ctrl {
	status = "okay";
	// TODO(bluecmd): Not really sure how this works. I guess it's different
	// from iLPC2AHB?
	memory-region = <&flash_memory>;
	flash = <&spi>;
};

&lpc_host {
	lpc2ahb_regs: regs {
		compatible = "aspeed,bmc-misc";
		ilpc2ahb {
			offset = <0x100>;
			bit-mask = <0x1>;
			bit-shift = <0x6>;
		};
	};
};

&mbox {
	status = "okay";
};
