// Copyright 2019 the u-root Authors. All rights reserved
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

package config

var (
	// This is copied in if the file 'i_agree_to_the_acme_terms' is present.
	// This assumes that the builder has agreed to the ACME server's terms.
	termsAgreed = true
)
