// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g5.dtsi"
#include "config.h"

/ {
	model = "AsrockRack PAUL";
	compatible = "aspeed,ast2500";

	aliases {
		con = &uart5;
	};
	chosen {
		stdout-path = &uart5;
	};

	memory@80000000 {
		reg = <0x80000000 CONFIG_RAM_SIZE>;
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
#include "ubmc-flash-layout.dtsi"
	};
};

&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};

// /dev/ttyS4: DEBUG_1 header
&uart5 {
	status = "okay";
};

#ifndef BOOTLOADER

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};

&sdmmc {
	status = "okay";
};

&sdhci0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_default>;
};

&rtc {
	status = "okay";
};

#endif /* !BOOTLOADER */
