// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g4.dtsi"
#include "config.h"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	model = "Quanta F06 Leopard DDR3 BMC";
	compatible = "ocp,leopard-bmc", "aspeed,ast2400";

	aliases {
		con = &uart5;
	};
	chosen {
		stdout-path = "con:57600n8";
#ifdef BOOTLOADER
		linux,initrd-start = <CONFIG_INITRD_START>;
		linux,initrd-end = <CONFIG_INITRD_END>;
#endif
	};

	memory@40000000 {
		reg = <0x40000000 CONFIG_RAM_SIZE>;
	};

	// TODO(bluecmd): Remove when u-bmc sets the ilpc2ahb bits itself
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		flash_memory: region@98000000 {
			no-map;
			reg = <0x98000000 0x01000000>; /* 16MB */
		};
	};

#ifndef BOOTLOADER
	thermal-zones {
		chassis_thermal: chassis-thermal {
			polling-delay-passive = <250>; /* milliseconds */
			polling-delay = <1000>; /* milliseconds */

			thermal-sensors = <&temp0 0>;

			trips {
				chassis_alert0: chassis-alert {
					temperature = <40000>; /* millicelsius */
					hysteresis = <2000>; /* millicelsius */
					type = "active";
				};
				chassis_crit: chassis-crit {
					temperature = <105000>; /* millicelsius */
					hysteresis = <2000>; /* millicelsius */
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&chassis_alert0>;
					cooling-device = <&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
						<&fan1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};
#endif
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
#include "ubmc-flash-layout.dtsi"
	};
};

&spi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1debug_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		label = "pnor";
	};
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flbusy_default &pinctrl_flwp_default

			&pinctrl_vgahs_default &pinctrl_vgavs_default
			&pinctrl_ddcclk_default &pinctrl_ddcdat_default>;
};

// /dev/ttyS4: BMC console UART
&uart5 {
	status = "okay";
};

#ifndef BOOTLOADER
&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default>;
	fan0: fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00>;
		#cooling-cells = <2>;
		// For some reason aspeed-pwm-tacho insists on using 8 bit values.
		// Yes, it's true that it really is only 0-255, but all other cooling
		// devices uses u32, so you don't have to '/bits/ 8'. Oh well.
		cooling-levels = /bits/ 8 <20 130 170 230>;
	};
	fan1: fan@1 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02>;
		#cooling-cells = <2>;
		cooling-levels = /bits/ 8 <20 130 170 230>;
	};
};

// /dev/ttyS2: Host's ttyS1
&uart3 {
	status = "okay";
};

&mac0 {
	status = "okay";

	use-ncsi;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii1_default>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
	temp0: tmp421@4e {
		compatible = "ti,tmp421";
		reg = <0x4e>;
		#thermal-sensor-cells = <1>;
	};
	temp1: tmp421@4f {
		compatible = "ti,tmp421";
		reg = <0x4f>;
		#thermal-sensor-cells = <1>;
	};
};

&i2c7 {
	status = "okay";
	hsc@11 {
		compatible = "adi,adm1278";
		reg = <0x11>;
	};
};

// TODO(bluecmd): Right now this is needed in order to enable iLPC2AHB
// for some reason. My understanding is that the FWH and L2H settings
// should not affect iLPC2AHB, but they seem to.
// Removing this stanza right now causes the BMC to not be reachable
// over iLPC2AHB.
&lpc_ctrl {
	status = "okay";
	memory-region = <&flash_memory>;
	flash = <&spi>;
};

&rtc {
	status = "okay";
};
#endif /* !BOOTLOADER */
